---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_103wFF2aBm1z1KoT1uVZNTMH&plan=base&email=john%40example.com
    headers:
      Authorization:
      - Bearer sk_test_dLCz1GXon4KReHPted9xtucP
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined"
          }
        }
  recorded_at: Mon, 28 Apr 2014 21:57:48 GMT
recorded_with: VCR 2.9.0
