---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_103uP02aBm1z1KoTKS1IVQB3&plan=base&email=john%40example.com
    headers:
      Authorization:
      - Bearer sk_test_dLCz1GXon4KReHPted9xtucP
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1398297309,
          "id": "cus_3uP0XZ6Mf9Bvuu",
          "livemode": false,
          "description": null,
          "email": "john@example.com",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_3uP0XZ6Mf9Bvuu/subscriptions",
            "data": [
              {
                "id": "sub_3uP01Gj3ZBWdbZ",
                "plan": {
                  "interval": "month",
                  "name": "The Base Plan",
                  "created": 1398115450,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": "MyFlix Monthly"
                },
                "object": "subscription",
                "start": 1398297309,
                "status": "active",
                "customer": "cus_3uP0XZ6Mf9Bvuu",
                "cancel_at_period_end": false,
                "current_period_start": 1398297309,
                "current_period_end": 1400889309,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_3uP0XZ6Mf9Bvuu/cards",
            "data": [
              {
                "id": "card_103uP02aBm1z1KoTmXKz30mQ",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 4,
                "exp_year": 2015,
                "fingerprint": "jxt5UvtpyqyJjD9H",
                "customer": "cus_3uP0XZ6Mf9Bvuu",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_103uP02aBm1z1KoTmXKz30mQ"
        }
  recorded_at: Wed, 23 Apr 2014 23:55:10 GMT
recorded_with: VCR 2.9.0
