---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=4&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_dLCz1GXon4KReHPted9xtucP
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_103uOd2aBm1z1KoTIxsptR51",
          "livemode": false,
          "created": 1398295915,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_103uOd2aBm1z1KoTqOnhs6wD",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 4,
            "exp_year": 2018,
            "fingerprint": "jxt5UvtpyqyJjD9H",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Wed, 23 Apr 2014 23:31:55 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_103uOd2aBm1z1KoTIxsptR51&plan=base&email=rachelle%40huel.org
    headers:
      Authorization:
      - Bearer sk_test_dLCz1GXon4KReHPted9xtucP
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1398295915,
          "id": "cus_3uOdBY6VgHTusu",
          "livemode": false,
          "description": null,
          "email": "rachelle@huel.org",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_3uOdBY6VgHTusu/subscriptions",
            "data": [
              {
                "id": "sub_3uOdB8swFXrYI0",
                "plan": {
                  "interval": "month",
                  "name": "The Base Plan",
                  "created": 1398115450,
                  "amount": 999,
                  "currency": "usd",
                  "id": "base",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": "MyFlix Monthly"
                },
                "object": "subscription",
                "start": 1398295915,
                "status": "active",
                "customer": "cus_3uOdBY6VgHTusu",
                "cancel_at_period_end": false,
                "current_period_start": 1398295915,
                "current_period_end": 1400887915,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_3uOdBY6VgHTusu/cards",
            "data": [
              {
                "id": "card_103uOd2aBm1z1KoTqOnhs6wD",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 4,
                "exp_year": 2018,
                "fingerprint": "jxt5UvtpyqyJjD9H",
                "customer": "cus_3uOdBY6VgHTusu",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_103uOd2aBm1z1KoTqOnhs6wD"
        }
  recorded_at: Wed, 23 Apr 2014 23:31:56 GMT
recorded_with: VCR 2.9.0
